@import 'custom-variables';

.landing {
    min-height: calc(100vh - 8vmin);
    background-color: $secondary;
    padding: 5vmin;
    position: relative;
    clip-path: polygon(100% 0, 100% 95%, 50% 100%, 0 96%, 0 0);
    overflow-x: hidden;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../assets/Landing.png");
        opacity: 0.2;
    }

    .nav {
        z-index: 20;

        .logoSec {
            z-index: 20;

            img {
                z-index: 20;
                margin-right: 1vmin;
            }

            p {
                z-index: 20;
                color: $primary;
                font-size: 2.5vmin;
                font-weight: 700;
            }
        }

        .navSec {
            z-index: 20;

            li {
                z-index: 20;
                list-style: none;
                margin: 0 3vmin;
                font-size: 1.75vmin;
                font-weight: 500;
                color: $primary;
                cursor: pointer;
            }
        }

        .mobile_nav {
            color: $primary;
            font-size: 6vmin;
        }
    }

    .division {
        z-index: 20;
        height: 100%;
        margin-top: 7vmin;

        .partLeft {
            z-index: 20;

            .textBox {
                z-index: 20;
                width: 75%;

                h1 {
                    z-index: 20;
                    font-size: 6vmin;
                    line-height: 7vmin;
                    font-weight: 600;
                    color: $primary;
                    margin-bottom: 5vmin;
                    text-align: left;
                }

                .searchBox {
                    z-index: 20;
                    width: 90%;
                    background-color: white;
                    border-radius: 8px;
                    padding: 1vmin;
                    height: 7.5vmin;
                    border: 5px solid rgba(191, 199, 223, 0.2);
                    border-radius: 3px;
                    padding: 0 2vmin;

                    input {
                        z-index: 20;
                        border: none;
                        outline: none;
                        font-family: var(--primary-font);
                        font-size: 2vmin;
                        font-weight: 500;
                    }

                    i {
                        z-index: 20;
                        color: var(--secondary);
                        font-size: 2.5vmin;
                        cursor: pointer;
                    }
                }
            }

            .imgBox {
                z-index: 20;
                width: 50%;
                margin-top: 10vmin;
                transform: scale(0.8);
                margin-left: -5vmin;

                p {
                    z-index: 20;
                    font-size: 7vmin;
                    color: $primary;
                    font-weight: 500;
                    margin: 0 3vmin;
                }
            }

        }

        .partRight {
            z-index: 20;

            .swiper {
                z-index: 20;
                width: 400px;
                height: 500px;
                margin-top: 3vmin;

                .swiper-slide {
                    z-index: 20;
                    border-radius: 18px;
                    font-size: 22px;
                    font-weight: bold;
                    transition: all 0.5s ease;
                    background-color: white;
                    opacity: 0.5;

                    b {
                        z-index: 20;
                        font-size: 2.8vmin;
                        margin-bottom: 1vmin;
                        font-weight: 600;
                    }

                    p {
                        z-index: 20;
                        font-size: 2.5vmin;
                        margin-bottom: 1vmin;
                        font-weight: 400;

                        span {
                            z-index: 20;
                            margin-left: 0.5vmin;

                            i {
                                z-index: 20;
                                color: #009F10;
                            }
                        }
                    }

                    a {
                        z-index: 20;
                        font-size: 2.3vmin;
                        font-weight: 600;
                        color: #1E5AFA;
                        margin: 2vmin;
                        cursor: pointer;

                    }
                }

                .swiper-slide-active {
                    z-index: 20;
                    opacity: 1;
                    transition: all 0.5s ease;
                }
            }
        }
    }
}





@media screen and (max-width: 720px) {
    .landing {
        padding: 5vmin 2vmin;
        padding-bottom: 20vmin;

        .division {
            z-index: 20;
            height: 100%;
            margin-top: 7vmin;

            .partLeft {
                z-index: 20;

                .textBox {
                    z-index: 20;
                    width: 100%;

                    h1 {
                        z-index: 20;
                        font-size: 7vmin;
                        line-height: 10vmin;
                        font-weight: 600;
                        color: $primary;
                        margin-bottom: 5vmin;
                        text-align: left;
                    }

                    .searchBox {
                        z-index: 20;
                        width: 100%;
                        background-color: white;
                        border-radius: 8px;
                        padding: 1vmin;
                        height: 15vmin;
                        border: 5px solid rgba(191, 199, 223, 0.2);
                        border-radius: 3px;
                        padding: 0 2vmin;

                        input {
                            height: 100%;
                            width: 100%;
                            z-index: 20;
                            border: none;
                            outline: none;
                            font-family: var(--primary-font);
                            font-size: 3.5vmin;
                            font-weight: 500;
                        }

                        i {
                            z-index: 20;
                            color: var(--secondary);
                            font-size: 2.5vmin;
                            cursor: pointer;
                        }
                    }
                }
            }

            .partRight {
                z-index: 20;
                img{
                    margin: 4vmin;
                }

                .swiper {
                    width: 250px;
                    height: 375px;

                    .swiper-slide {
                        margin-top: 0;

                        b {
                            z-index: 20;
                            font-size: 5.8vmin;
                            margin-top: -10vmin;
                        }

                        p {
                            font-size: 4.5vmin;
                        }

                        a {
                            font-size: 3.5vmin;
                            margin: 1vmin;

                        }
                    }

                    .swiper-slide-active {
                        z-index: 20;
                        opacity: 1;
                        transition: all 0.5s ease;
                    }
                }
            }
        }
    }
}