*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// Importing custom variables file
@import 'custom-variables';
// Importing header files
@import 'header';
// Importing landing files
@import 'landing';
body {
    height: 100vh;
    width: 100%;
}
