@import "custom-variables";

.main {
    background-color: #ECF2FC;

    .bg {
        width: 100%;
        z-index: 1;
        position: relative;

        &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-image: url("../../Assets/report.png");
            background-size: cover;

        }

        .left {
            width: 75%;
            padding: 10vmin;
            z-index: 20;

            .covid {
                background-color: #D9E8FD;
                color: $secondary;
                font-size: 2vmin;
                font-weight: 500;
                height: 4.5vmin;
                width: 30vmin;
                border-radius: 5vmin;
                display: grid;
                place-items: center;
            }

            h1 {
                color: $primary;
                font-size: 5vmin;
                line-height: 7vmin;
                font-weight: 600;
                margin: 4vmin 0;

            }

            .sub {
                p {
                    color: $primary;
                    font-size: 2vmin;
                    font-weight: 400;
                }

                button {
                    color: $secondary;
                    background-color: $primary;
                    font-size: 2vmin;
                    font-weight: 500;
                    height: 5vmin;
                    width: 25vmin;
                    border: none;
                    cursor: pointer;
                }

            }

            .box1 {
                background-color: $primary;
                color: $surface;
                font-size: 2.5vmin;
                font-weight: 400;
                padding: 2.5vmin;
                border-radius: 2.5vmin;
                margin-top: 4vmin;
            }

            .box2 {
                background-color: $primary;
                color: $surface;
                font-size: 2.5vmin;
                font-weight: 500;
                padding: 2.5vmin;
                border-radius: 2.5vmin;
                margin-top: 4vmin;

                P {
                    font-weight: 600;

                    &:nth-child(2) {
                        font-size: 3.5vmin;
                        font-weight: 400;
                    }
                }

                .sub1 {
                    background-color: #F6F9FF;
                    height: 300px;
                    width: 100%;

                    canvas {
                        height: 100%;
                        width: 100%;
                    }
                }
            }

            .box3 {
                background-color: $primary;
                color: $surface;
                padding: 2.5vmin;
                border-radius: 2.5vmin;
                margin-top: 4vmin;

                P {
                    font-weight: 600;

                    &:nth-child(2) {
                        font-size: 2.5vmin;
                        font-weight: 400;
                    }
                }

                .tables {
                    table {
                        font-size: 2vmin;
                        font-weight: 500;
                        color: $surface;

                        th {
                            color: #6B7280;
                            padding: 2vmin;
                            background-color: #F9FAFB;
                            border: 1px solid #cfcfcf;
                        }

                        td {
                            padding: 2vmin;
                            border: 1px solid #cfcfcf;
                        }
                    }
                }
            }

            .box4 {
                background-color: $primary;
                color: $surface;
                font-size: 2.5vmin;
                font-weight: 500;
                padding: 2.5vmin;
                border-radius: 2.5vmin;
                margin-top: 4vmin;

                P {
                    font-weight: 600;

                    &:nth-child(2) {
                        font-size: 2.5vmin;
                        font-weight: 400;
                    }
                }

                .sub1 {
                    background-color: #F6F9FF;
                    height: 300px;
                    width: 100%;

                    canvas {
                        height: 100%;
                        width: 100%;
                    }
                }
            }

            .box5 {
                background-color: $primary;
                color: $surface;
                font-size: 2.5vmin;
                font-weight: 500;
                padding: 2.5vmin;
                border-radius: 2.5vmin;
                margin-top: 4vmin;

                P {
                    font-weight: 600;

                    canvas {
                        float: right;
                        width: 300px;
                    }

                    &:nth-child(2) {
                        font-size: 2.5vmin;
                        font-weight: 400;
                    }
                }
            }

            .box6 {
                background-color: $primary;
                color: $surface;
                font-size: 2.5vmin;
                font-weight: 500;
                padding: 2.5vmin;
                border-radius: 2.5vmin;
                margin-top: 4vmin;

                P {
                    font-weight: 600;

                    canvas {
                        float: right;
                        width: 300px;
                    }

                    &:nth-child(2) {
                        font-size: 2.5vmin;
                        font-weight: 400;
                    }
                }
            }

            .box7 {
                background-color: $primary;
                color: $surface;
                font-size: 2.5vmin;
                font-weight: 500;
                padding: 2.5vmin;
                border-radius: 2.5vmin;
                margin-top: 4vmin;

                p {
                    font-size: 3.5vmin;
                    color: #6B7280;
                    font-weight: 500;
                }

                ol {

                    li {
                        font-size: 2.5vmin;
                        color: $surface;
                        font-weight: 600;
                        list-style: none;

                        span {
                            float: right;
                        }

                        ol {
                            list-style: none;

                            li {

                                font-weight: 500;

                                ol {
                                    list-style: none;
                                    margin: 2vmin 0;

                                    li {
                                        font-weight: 500;
                                        color: #6B7280;
                                        margin: 1vmin 0;
                                    }
                                }

                            }
                        }
                    }

                    .head p {
                        font-size: 2.5vmin;
                        color: $surface;
                        font-weight: 600;
                        border-bottom: 1px solid #cfcfcf;
                        padding-bottom: 2vmin;
                    }
                }
            }

            .box8 {
                background-color: $primary;
                color: $surface;
                font-size: 2.5vmin;
                font-weight: 500;
                padding: 2.5vmin;
                border-radius: 2.5vmin;
                margin-top: 4vmin;

                P {
                    font-weight: 600;

                    canvas {
                        float: right;
                        width: 300px;
                        margin: 2vmin;
                    }

                    &:nth-child(2) {
                        font-size: 2.5vmin;
                        font-weight: 400;
                    }

                    &:nth-child(3) {
                        font-size: 2.5vmin;
                        font-weight: 400;
                    }
                }
            }

            .box9 {
                background-color: $primary;
                color: $surface;
                font-size: 2.5vmin;
                font-weight: 500;
                padding: 2.5vmin;
                border-radius: 2.5vmin;
                margin-top: 4vmin;

                P {
                    font-weight: 600;

                    &:nth-child(2) {
                        font-size: 2.5vmin;
                        font-weight: 400;
                    }
                }
            }
        }

        .right {
            z-index: 20;
            width: 25%;
            padding: 7vmin;

            .box1 {
                background-color: $primary;
                color: $surface;
                font-size: 2.5vmin;
                font-weight: 400;
                padding: 4vmin 2vmin;
                border-radius: 2.5vmin;
                margin-top: 4vmin;

                p {
                    font-weight: 600;
                    color: #6B7280;
                }

                .radiobox {
                    margin: 0vmin 0;

                    input {
                        margin-right: 1vmin;
                    }

                    .text {
                        font-size: 2vmin;
                        font-weight: 500;

                        h4 {
                            font-size: 2vmin;
                            font-weight: 500;
                            color: $surface;
                            margin-top: 1.5vmin;
                        }

                        p {
                            font-size: 1.7vmin;
                            font-weight: 400;
                            color: #6B7280;
                            margin-top: -1.5vmin;
                        }
                    }
                }

                b {
                    font-size: 5vmin;
                    font-weight: 700;
                    color: $surface;
                    margin-top: 1.5vmin;

                    del {
                        font-size: 3vmin;
                        font-weight: 400;
                        color: #6B7280;
                        margin-top: -3vmin;
                    }
                }

                p.disc {
                    font-size: 2vmin;
                    font-weight: 900;
                    margin: 1vmin;
                    color: lime;
                }

                p.det {
                    color: #6B7280;
                    font-size: 2vmin;
                    font-weight: 500;
                    margin-top: 0vmin;
                }

                button.or {
                    width: 100%;
                    padding: 1.5vmin;
                    background-color: #F2B244;
                    color: $surface;
                    border: none;
                    outline: none;
                    font-weight: 600;

                    i {
                        margin-right: 1vmin;
                    }
                }

                button.bl {
                    width: 100%;
                    padding: 1.5vmin;
                    background-color: #fff;
                    color: $secondary;
                    border: none;
                    border: 1.5px solid $secondary;
                    outline: none;
                    font-weight: 600;
                    margin-top: 3vmin;
                }

            }

            .box2 {
                background-color: $primary;
                color: $surface;
                font-size: 2.5vmin;
                font-weight: 400;
                padding: 4vmin 2vmin;
                border-radius: 2.5vmin;
                margin-top: 4vmin;

                .sub {
                    height: 300px;
                    width: 90%;
                    box-shadow: 0px 1px 9px 6px black;
                    padding: 3vmin;
                    position: relative;

                    b {
                        color: $secondary;
                        font-size: 2.5vmin;
                        font-weight: 700;
                    }

                    p {
                        color: #6B7280;
                        font-size: 4vmin;
                        font-weight: 900;
                        margin-top: 6vmin;
                        opacity: 0.7;
                    }

                    span {
                        position: absolute;
                        bottom: 30px;
                        right: 0;
                        padding: 1vmin 2vmin;
                        background-color: red;
                        color: #fff;
                        font-size: 2vmin;
                        font-weight: 700;
                    }
                }

                p {
                    font-weight: 600;
                    color: #6B7280;
                    margin-top: 5vmin;
                    font-size: 2vmin;
                }

                button.bl {
                    width: 100%;
                    padding: 1.5vmin;
                    background-color: #fff;
                    color: $secondary;
                    border: none;
                    border: 1.5px solid $secondary;
                    outline: none;
                    font-weight: 600;
                    margin-top: 3vmin;
                }
            }

            .box3 {
                background-color: $primary;
                color: $surface;
                font-size: 3.5vmin;
                font-weight: 600;
                padding: 4vmin 2vmin;
                border-radius: 2.5vmin;
                margin-top: 4vmin;

            }

            .box4 {
                background-color: $primary;
                color: $surface;
                font-size: 2.5vmin;
                font-weight: 400;
                padding: 4vmin 2vmin;
                border-radius: 2.5vmin;
                margin-top: 4vmin;

                p {
                    font-weight: 600;
                    font-size: 3vmin;
                }

                i {
                    font-size: 2vmin;
                    color: #6B7280;
                    padding-bottom: 3vmin;
                    border-bottom: 1px solid #cfcfcf;
                }

                .profile {
                    img {
                        height: 30px;
                    }

                    .text {
                        margin-top: 3vmin;
                        margin-left: 1vmin;

                        b {
                            font-size: 2vmin;
                            font-weight: 600;
                        }

                        p {
                            font-size: 2vmin;
                            font-weight: 400;
                            color: #6B7280;
                        }
                    }
                }
            }

            .box5 {
                background-color: $primary;
                color: $surface;
                font-size: 3vmin;
                font-weight: 600;
                padding: 4vmin 2vmin;
                border-radius: 2.5vmin;
                margin-top: 4vmin;

                p {
                    text-align: center;
                }

                .sub {
                    margin-top: 3vmin;

                    p {
                        margin-top: 2vmin;
                        font-size: 2.5vmin;
                        font-weight: 500;
                    }
                }

                b {
                    font-size: 2.5vmin;
                    font-weight: 600;
                    margin-top: 3vmin;
                    color: $secondary;
                    cursor: pointer;
                }

            }
        }

    }

    .reports {
        .container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 5vmin;
            margin: 5vmin 0;

            .box {
                background-color: $primary;
                color: $surface;
                font-size: 2.5vmin;
                font-weight: 400;
                padding: 4vmin 2vmin;
                border-radius: 2.5vmin;
                margin-top: 4vmin;

                p {
                    font-size: 2vmin;
                    font-weight: 600;
                }

                .covid {
                    color: $surface;
                    background-color: #feca7078;
                    padding: 1vmin 2vmin;
                    width: 180px;
                    text-align: center;
                    border-radius: 5vmin;
                }

                h5{
                    font-weight: 600;
                    margin-top: 2vmin;
                }
                .details{
                    p{
                        font-size: 1.8vmin;
                        font-weight: 500;
                        color: #6B7280;
                    }
                }
                i{
                    a{
                        color:$surface;
                    }
                }
            }
        }
    }
}

@media (max-width: 720px) {
    .main {
        .bg {
            .left {
                width: 100%;
                padding: 5vmin;
            }

            .right {
                width: 100%;
                padding: 5vmin;
            }
        }
        .reports{
            .container{
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}

@media (min-width:721px) and (max-width:1000px) {
    .main {
        .bg {
            .left {
                width: 100%;
                padding: 5vmin;
            }

            .right {
                width: 100%;
                padding: 5vmin;
            }
        }
        .reports{
            .container{
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}