@charset "UTF-8";
.model-container {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  display: none;
}
.model-container .model-box {
  background-color: #fff;
  width: 70%;
  height: 80%;
  position: relative;
  border-radius: 10px;
  padding: 2vmin;
  display: flex;
  flex-direction: column;
}
.model-container .model-box .model-header {
  border-bottom: 1px solid #cfcfcf;
  font-size: 1.2em;
  font-weight: 500;
  padding: 1vmin 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.model-container .model-box .model-header .close {
  cursor: pointer;
  font-size: 1.5em;
  color: #6B7280;
}
.model-container .model-box .model-body {
  overflow: scroll;
  width: 100%;
}

.opened {
  display: flex;
}

.main {
  background-color: #ECF2FC;
}
.main .bg {
  width: 100%;
  z-index: 1;
  position: relative;
}
.main .bg::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  background-image: url("../../Assets/report.png");
  background-size: cover;
}
.main .bg .left {
  padding: 5vmin;
  z-index: 20;
}
.main .bg .left .covid {
  background-color: #D9E8FD;
  color: #004ab3;
  font-size: 2vmin;
  font-weight: 500;
  height: 4.5vmin;
  width: 30vmin;
  border-radius: 5vmin;
  display: grid;
  place-items: center;
}
.main .bg .left h1 {
  color: #fff;
  font-size: 4.8vmin;
  line-height: 6.5vmin;
  font-weight: 600;
  margin: 4vmin 0;
}
.main .bg .left .sub p {
  color: #fff;
  font-size: 2vmin;
  font-weight: 400;
  width: 100%;
}
.main .bg .left .sub p:nth-child(2) {
  width: 70%;
}
.main .bg .left .sub .btncontainer {
  width: 70%;
}
.main .bg .left .sub .btncontainer button {
  color: #004ab3;
  background-color: #fff;
  font-size: 2vmin;
  font-weight: 500;
  height: 5vmin;
  width: 30vmin;
  border: none;
  cursor: pointer;
  margin: 0 2vmin;
}
.main .bg .left .sub .btncontainer button:first-child {
  margin-left: 0;
}
.main .bg .left .box1 {
  background-color: #fff;
  color: #0D1322;
  font-size: 2.25vmin;
  font-weight: 400;
  padding: 2.5vmin;
  border-radius: 2.5vmin;
  margin-top: 4vmin;
}
.main .bg .left .box2 {
  background-color: #fff;
  color: #0D1322;
  font-size: 2.5vmin;
  font-weight: 500;
  padding: 2.5vmin;
  border-radius: 2.5vmin;
  margin-top: 4vmin;
}
.main .bg .left .box2 p {
  font-weight: 600;
}
.main .bg .left .box2 p:nth-child(2) {
  font-size: 2.5vmin;
  font-weight: 400;
}
.main .bg .left .box2 .sub1 {
  background-color: #F6F9FF;
  height: 300px;
  width: 100%;
}
.main .bg .left .box2 .sub1 canvas {
  height: 100%;
  width: 100%;
}
.main .bg .left .box3 {
  background-color: #fff;
  color: #0D1322;
  padding: 2.5vmin;
  border-radius: 2.5vmin;
  margin-top: 4vmin;
}
.main .bg .left .box3 p {
  font-weight: 600;
}
.main .bg .left .box3 p:nth-child(2) {
  font-size: 2.25vmin;
  font-weight: 400;
}
.main .bg .left .box3 .tables table {
  font-size: 2vmin;
  font-weight: 500;
  color: #0D1322;
}
.main .bg .left .box3 .tables table th {
  color: #6B7280;
  padding: 2vmin;
  background-color: #F9FAFB;
  border: 1px solid #cfcfcf;
}
.main .bg .left .box3 .tables table td {
  padding: 2vmin;
  border: 1px solid #cfcfcf;
}
.main .bg .left .box4 {
  background-color: #fff;
  color: #0D1322;
  font-size: 2.25vmin;
  font-weight: 500;
  padding: 2.5vmin;
  border-radius: 2.5vmin;
  margin-top: 4vmin;
}
.main .bg .left .box4 .text {
  font-size: 2.25vmin;
  font-weight: 400;
}
.main .bg .left .box4 p {
  font-weight: 600;
}
.main .bg .left .box4 p:nth-child(2) {
  font-size: 2.25vmin;
  font-weight: 400;
}
.main .bg .left .box4 .sub1 {
  background-color: #F6F9FF;
  height: 300px;
  width: 100%;
}
.main .bg .left .box4 .sub1 canvas {
  height: 100%;
  width: 100%;
}
.main .bg .left .box5 {
  background-color: #fff;
  color: #0D1322;
  font-size: 2.25vmin;
  font-weight: 500;
  padding: 2.5vmin;
  border-radius: 2.5vmin;
  margin-top: 4vmin;
}
.main .bg .left .box5 .text {
  font-size: 2.25vmin;
  font-weight: 400;
}
.main .bg .left .box5 p {
  font-weight: 600;
}
.main .bg .left .box5 p:nth-child(2) {
  font-size: 2.25vmin;
  font-weight: 400;
}
.main .bg .left .box5 p canvas {
  float: right;
  width: 300px;
}
.main .bg .left .box5 .chartBox {
  height: 300px;
  width: 300px;
  float: right;
}
.main .bg .left .box5 .chartBox canvas {
  height: 100%;
  width: 100%;
}
.main .bg .left .box6 {
  background-color: #fff;
  color: #0D1322;
  font-size: 2.25vmin;
  font-weight: 500;
  padding: 2.5vmin;
  border-radius: 2.5vmin;
  margin-top: 4vmin;
}
.main .bg .left .box6 .text {
  font-size: 2.25vmin;
  font-weight: 400;
}
.main .bg .left .box6 p {
  font-weight: 600;
}
.main .bg .left .box6 p:nth-child(2) {
  font-size: 2.25vmin;
  font-weight: 400;
}
.main .bg .left .box6 .chartBox {
  height: 300px;
  width: 300px;
  float: right;
}
.main .bg .left .box6 .chartBox canvas {
  height: 100%;
  width: 100%;
}
.main .bg .left .box7 {
  background-color: #fff;
  color: #0D1322;
  font-size: 2.25vmin;
  font-weight: 500;
  padding: 2.5vmin;
  border-radius: 2.5vmin;
  margin-top: 4vmin;
}
.main .bg .left .box7 button.bl {
  width: auto;
  padding: 1.5vmin;
  background-color: #fff;
  color: #004ab3;
  border: none;
  border: 1.5px solid #004ab3;
  outline: none;
  font-weight: 600;
  margin-top: 3vmin;
}
.main .bg .left .box7 p {
  font-size: 3.5vmin;
  color: #6B7280;
  font-weight: 500;
  width: 100%;
}
.main .bg .left .box7 ol {
  width: 100%;
}
.main .bg .left .box7 ol li {
  font-size: 2.25vmin;
  color: #0D1322;
  font-weight: 600;
  list-style: none;
}
.main .bg .left .box7 ol li span {
  float: right;
}
.main .bg .left .box7 ol li ol {
  list-style: none;
}
.main .bg .left .box7 ol li ol li {
  font-weight: 500;
}
.main .bg .left .box7 ol li ol li ol {
  list-style: none;
  margin: 2vmin 0;
}
.main .bg .left .box7 ol li ol li ol li {
  font-weight: 500;
  color: #6B7280;
  margin: 1vmin 0;
}
.main .bg .left .box7 ol .head p {
  font-size: 2.25vmin;
  color: #0D1322;
  font-weight: 600;
  border-bottom: 1px solid #cfcfcf;
  padding-bottom: 2vmin;
}
.main .bg .left .box8 {
  background-color: #fff;
  color: #0D1322;
  font-size: 2.25vmin;
  font-weight: 500;
  padding: 2.5vmin;
  border-radius: 2.5vmin;
  margin-top: 4vmin;
}
.main .bg .left .box8 p {
  font-weight: 400;
}
.main .bg .left .box8 p:nth-child(1) {
  font-weight: 600;
}
.main .bg .left .box8 .main-bottom-up-approch-piramid {
  padding: 1rem;
  margin-left: 2.5vmin;
  background: #F6F9FF;
  float: right;
}
.main .bg .left .box8 .main-bottom-up-approch-piramid h2 {
  font-size: 16px;
  font-weight: 500;
  color: #1D2129;
}
.main .bg .left .box8 .main-bottom-up-approch-piramid .section-bottom-up-approch-piramid {
  width: 350px;
}
.main .bg .left .box8 .main-bottom-up-approch-piramid .section-bottom-up-approch-piramid .piramind-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .bg .left .box8 .main-bottom-up-approch-piramid .section-bottom-up-approch-piramid .piramind-container .pyramid-wrapper {
  width: 200px;
  display: flex;
  flex-direction: column;
  height: 200px;
  -webkit-clip-path: polygon(50% 0, 100% 85%, 0 85%);
  clip-path: polygon(50% 0%, 100% 85%, 0 85%);
}
.main .bg .left .box8 .main-bottom-up-approch-piramid .section-bottom-up-approch-piramid .piramind-container .pyramid-wrapper .pyramid__section {
  flex: 1 1 100%;
  background-color: #c1d6f5;
  margin-bottom: 0px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 8px;
  font-weight: 500;
  padding-top: 2rem;
  color: #000000;
}
.main .bg .left .box8 .main-bottom-up-approch-piramid .section-bottom-up-approch-piramid .piramind-container .pyramid-wrapper .pyramid_section2 {
  background: #0D4FAC;
  padding-bottom: 62px;
  padding-top: 0;
  color: #ffffff;
  font-size: 8px;
  font-weight: 500;
}
.main .bg .left .box8 .main-bottom-up-approch-piramid .section-bottom-up-approch-piramid span {
  font-size: 10px;
  font-weight: 400;
  color: #000000;
}
.main .bg .left .box8 .main-bottom-up-approch-piramid-sec {
  padding: 1rem;
  margin-left: 2.5vmin;
  background: #FBF9F6;
  float: right;
}
.main .bg .left .box8 .main-bottom-up-approch-piramid-sec h2 {
  font-size: 16px;
  font-weight: 500;
  color: #1D2129;
}
.main .bg .left .box8 .main-bottom-up-approch-piramid-sec .section-bottom-up-approch-piramid-sec {
  width: 350px;
}
.main .bg .left .box8 .main-bottom-up-approch-piramid-sec .section-bottom-up-approch-piramid-sec .piramind-container-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.main .bg .left .box8 .main-bottom-up-approch-piramid-sec .section-bottom-up-approch-piramid-sec .piramind-container-sec .pyramid-wrapper-sec {
  width: 200px;
  display: flex;
  flex-direction: column;
  height: 200px;
  -webkit-clip-path: polygon(100% 10%, 0% 10%, 50% 100%);
  clip-path: polygon(100% 10%, 0% 10%, 50% 100%);
}
.main .bg .left .box8 .main-bottom-up-approch-piramid-sec .section-bottom-up-approch-piramid-sec .piramind-container-sec .pyramid-wrapper-sec .pyramid-sec__section {
  flex: 1 1 100%;
  background-color: #E6993F;
  margin-bottom: 0px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 8px;
  font-weight: 500;
  padding-top: 2rem;
  color: #ffffff;
}
.main .bg .left .box8 .main-bottom-up-approch-piramid-sec .section-bottom-up-approch-piramid-sec .piramind-container-sec .pyramid-wrapper-sec .pyramid-sec_section2 {
  background: #F3E7D8;
  padding-top: 0;
  padding-bottom: 2rem;
  color: #000000;
}
.main .bg .left .box8 .main-bottom-up-approch-piramid-sec .section-bottom-up-approch-piramid-sec span {
  font-size: 10px;
}
.main .bg .left .box9 {
  background-color: #fff;
  color: #0D1322;
  font-size: 2.25vmin;
  font-weight: 500;
  padding: 2.5vmin;
  border-radius: 2.5vmin;
  margin-top: 4vmin;
  line-height: 3vmin;
}
.main .bg .left .box9 button.bl {
  width: auto;
  padding: 1.5vmin;
  background-color: #fff;
  color: #004ab3;
  border: none;
  border: 1.5px solid #004ab3;
  outline: none;
  font-weight: 600;
  margin-top: 3vmin;
}
.main .bg .left .box9 P {
  font-weight: 600;
  width: 100%;
  max-lines: 2;
}
.main .bg .left .box9 P:nth-child(2) {
  font-size: 2.25vmin;
  font-weight: 400;
}
.main .bg .left .box10 {
  background-color: #fff;
  color: #0D1322;
  font-size: 2.25vmin;
  font-weight: 500;
  padding: 2.5vmin;
  border-radius: 2.5vmin;
  margin-top: 4vmin;
}
.main .bg .left .box10 #FAQS {
  border-radius: 10px;
  overflow: hidden;
}
.main .bg .left .box10 #FAQS details {
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}
.main .bg .left .box10 #FAQS details summary {
  list-style: none;
  position: relative;
  background-color: #C1D6F5;
  padding: 2vmin;
  border-bottom: 1px solid white;
  transition: all 0.3s ease-in-out;
}
.main .bg .left .box10 #FAQS details summary:hover {
  background-color: #288FF7;
}
.main .bg .left .box10 #FAQS details summary:focus {
  outline: none;
}
.main .bg .left .box10 #FAQS details summary::after {
  content: "⌄";
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  right: 2vmin;
  font-size: 5vmin;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.main .bg .left .box10 #FAQS details[open] > summary::after {
  transform: rotate(-90deg) translateY(-10%) translateX(80%);
}
.main .bg .left .box10 #FAQS details summary::-webkit-details-marker {
  display: none;
}
.main .bg .left .box10 #FAQS details div.faq__content {
  background-color: #ffffff;
  padding: 2vmin;
}
.main .bg .right {
  z-index: 20;
  padding: 5vmin;
}
.main .bg .right .box1 {
  background-color: #fff;
  color: #0D1322;
  font-size: 2.25vmin;
  font-weight: 400;
  padding: 4vmin 2vmin;
  border-radius: 2.5vmin;
  margin-top: 4vmin;
}
.main .bg .right .box1 p {
  font-weight: 600;
  color: #6B7280;
}
.main .bg .right .box1 .radiobox {
  margin: 0vmin 0;
}
.main .bg .right .box1 .radiobox input {
  margin-right: 1vmin;
}
.main .bg .right .box1 .radiobox .text {
  font-size: 2vmin;
  font-weight: 500;
}
.main .bg .right .box1 .radiobox .text h4 {
  font-size: 2vmin;
  font-weight: 500;
  color: #0D1322;
  margin-top: 1.5vmin;
}
.main .bg .right .box1 .radiobox .text p {
  font-size: 1.7vmin;
  font-weight: 400;
  color: #6B7280;
  margin-top: -1.5vmin;
}
.main .bg .right .box1 b {
  font-size: 5vmin;
  font-weight: 700;
  color: #0D1322;
  margin-top: 1.5vmin;
}
.main .bg .right .box1 b del {
  font-size: 3vmin;
  font-weight: 400;
  color: #6B7280;
  margin-top: -3vmin;
}
.main .bg .right .box1 p.disc {
  font-size: 2vmin;
  font-weight: 900;
  margin: 1vmin;
  color: lime;
}
.main .bg .right .box1 p.det {
  color: #6B7280;
  font-size: 2vmin;
  font-weight: 500;
  margin-top: 0vmin;
}
.main .bg .right .box1 button.or {
  width: 100%;
  padding: 1.5vmin;
  background-color: #F2B244;
  color: #0D1322;
  border: none;
  outline: none;
  font-weight: 600;
}
.main .bg .right .box1 button.or i {
  margin-right: 1vmin;
}
.main .bg .right .box1 button.bl {
  width: 100%;
  padding: 1.5vmin;
  background-color: #fff;
  color: #004ab3;
  border: none;
  border: 1.5px solid #004ab3;
  outline: none;
  font-weight: 600;
  margin-top: 3vmin;
}
.main .bg .right .box2 {
  background-color: #fff;
  color: #0D1322;
  font-size: 2.25vmin;
  font-weight: 400;
  padding: 4vmin 2vmin;
  border-radius: 2.5vmin;
  margin-top: 4vmin;
}
.main .bg .right .box2 .sub {
  height: 300px;
  width: 90%;
  box-shadow: 0px 1px 9px 6px black;
  padding: 3vmin;
  position: relative;
}
.main .bg .right .box2 .sub b {
  color: #004ab3;
  font-size: 2.25vmin;
  font-weight: 700;
}
.main .bg .right .box2 .sub p {
  color: #6B7280;
  font-size: 4vmin;
  font-weight: 900;
  margin-top: 6vmin;
  opacity: 0.7;
}
.main .bg .right .box2 .sub span {
  position: absolute;
  bottom: 30px;
  right: 0;
  padding: 1vmin 2vmin;
  background-color: red;
  color: #fff;
  font-size: 2vmin;
  font-weight: 700;
}
.main .bg .right .box2 p {
  font-weight: 600;
  color: #6B7280;
  margin-top: 5vmin;
  font-size: 2vmin;
}
.main .bg .right .box2 button.bl {
  width: 100%;
  padding: 1.5vmin;
  background-color: #fff;
  color: #004ab3;
  border: none;
  border: 1.5px solid #004ab3;
  outline: none;
  font-weight: 600;
  margin-top: 3vmin;
}
.main .bg .right .box3 {
  background-color: #fff;
  color: #0D1322;
  font-size: 3.5vmin;
  font-weight: 600;
  padding: 4vmin 2vmin;
  border-radius: 2.5vmin;
  margin-top: 4vmin;
}
.main .bg .right .box4 {
  background-color: #fff;
  color: #0D1322;
  font-size: 2.25vmin;
  font-weight: 400;
  padding: 4vmin 2vmin;
  border-radius: 2.5vmin;
  margin-top: 4vmin;
}
.main .bg .right .box4 p {
  font-weight: 600;
  font-size: 3vmin;
}
.main .bg .right .box4 i {
  font-size: 2vmin;
  color: #6B7280;
  padding-bottom: 3vmin;
  border-bottom: 1px solid #cfcfcf;
}
.main .bg .right .box4 .profile img {
  height: 30px;
}
.main .bg .right .box4 .profile .text {
  margin-top: 3vmin;
  margin-left: 1vmin;
}
.main .bg .right .box4 .profile .text b {
  font-size: 2vmin;
  font-weight: 600;
}
.main .bg .right .box4 .profile .text p {
  font-size: 2vmin;
  font-weight: 400;
  color: #6B7280;
}
.main .bg .right .box5 {
  background-color: #fff;
  color: #0D1322;
  font-size: 3vmin;
  font-weight: 600;
  padding: 4vmin 2vmin;
  border-radius: 2.5vmin;
  margin-top: 4vmin;
}
.main .bg .right .box5 p {
  text-align: center;
}
.main .bg .right .box5 .sub {
  margin-top: 3vmin;
}
.main .bg .right .box5 .sub p {
  margin-top: 2vmin;
  font-size: 2.25vmin;
  font-weight: 500;
}
.main .bg .right .box5 b {
  font-size: 2.25vmin;
  font-weight: 600;
  margin-top: 3vmin;
  color: #004ab3;
  cursor: pointer;
}
.main .reports .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5vmin;
  margin: 5vmin 0;
}
.main .reports .container .box {
  background-color: #fff;
  color: #0D1322;
  font-size: 2vmin;
  font-weight: 400;
  padding: 4vmin 2vmin;
  border-radius: 2.5vmin;
  margin-top: 4vmin;
}
.main .reports .container .box p {
  font-size: 1.5vmin;
  font-weight: 600;
}
.main .reports .container .box .covid {
  color: #0D1322;
  background-color: rgba(254, 202, 112, 0.4705882353);
  padding: 1vmin 2vmin;
  width: 180px;
  text-align: center;
  border-radius: 5vmin;
}
.main .reports .container .box h5 {
  font-weight: 600;
  margin-top: 2vmin;
  font-size: 3vmin;
}
.main .reports .container .box .details p {
  font-size: 1.8vmin;
  font-weight: 500;
  color: #6B7280;
}
.main .reports .container .box i a {
  color: #0D1322;
}

@media (max-width: 720px) {
  .main .bg .left {
    width: 100%;
    padding: 5vmin;
  }
  .main .bg .left .box8 .main-bottom-up-approch-piramid {
    padding: 0;
  }
  .main .bg .left .box8 .main-bottom-up-approch-piramid .section-bottom-up-approch-piramid {
    width: 100%;
  }
  .main .bg .left .box8 .main-bottom-up-approch-piramid .section-bottom-up-approch-piramid .piramind-container .pyramid-wrapper {
    width: 100%;
  }
  .main .bg .left .box8 .main-bottom-up-approch-piramid .section-bottom-up-approch-piramid .piramind-container .pyramid-wrapper .pyramid__section {
    font-size: 9px;
  }
  .main .bg .left .box8 .main-bottom-up-approch-piramid-sec {
    padding: 0;
  }
  .main .bg .left .box8 .main-bottom-up-approch-piramid-sec .section-bottom-up-approch-piramid-sec {
    width: 100%;
  }
  .main .bg .left .box8 .main-bottom-up-approch-piramid-sec .section-bottom-up-approch-piramid-sec .piramind-container-sec .pyramid-wrapper-sec {
    width: 100%;
  }
  .main .bg .left .box8 .main-bottom-up-approch-piramid-sec .section-bottom-up-approch-piramid-sec .piramind-container-sec .pyramid-wrapper-sec .pyramid-sec_section2 {
    font-size: 9px;
  }
  .main .bg .right {
    width: 100%;
    padding: 5vmin;
  }
  .main .reports .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 721px) and (max-width: 1000px) {
  .main .bg .left {
    width: 100%;
    padding: 5vmin;
  }
  .main .bg .right {
    width: 100%;
    padding: 5vmin;
  }
  .main .reports .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
body {
  background-color: #ECF2FC;
}/*# sourceMappingURL=report.css.map */