.main {
  background-color: #ECF2FC;
}
.main .bg {
  width: 100%;
  height: 100vh;
  background-image: url("../../Assets/report.png");
  background-size: cover;
  z-index: 1;
}
.main .bg .left {
  width: 75%;
  padding: 10vmin;
}
.main .bg .left .covid {
  background-color: #D9E8FD;
  color: #004ab3;
  font-size: 2vmin;
  font-weight: 500;
  height: 4.5vmin;
  width: 30vmin;
  border-radius: 5vmin;
  display: grid;
  place-items: center;
}
.main .bg .left h1 {
  color: #fff;
  font-size: 5vmin;
  line-height: 7vmin;
  font-weight: 600;
  margin: 4vmin 0;
}
.main .bg .left .sub p {
  color: #fff;
  font-size: 2vmin;
  font-weight: 400;
}
.main .bg .left .sub button {
  color: #004ab3;
  background-color: #fff;
  font-size: 2vmin;
  font-weight: 500;
  height: 5vmin;
  width: 25vmin;
  border: none;
  cursor: pointer;
}
.main .bg .left .box1 {
  background-color: #fff;
  color: #0D1322;
  font-size: 2.5vmin;
  font-weight: 400;
  padding: 2.5vmin;
  border-radius: 2.5vmin;
  margin-top: 4vmin;
}
.main .bg .left .box2 {
  background-color: #fff;
  color: #0D1322;
  font-size: 2.5vmin;
  font-weight: 500;
  padding: 2.5vmin;
  border-radius: 2.5vmin;
  margin-top: 4vmin;
}
.main .bg .left .box2 P {
  font-weight: 600;
}
.main .bg .left .box2 P:nth-child(2) {
  font-size: 3.5vmin;
  font-weight: 400;
}
.main .bg .left .box2 .sub1 {
  background-color: #F6F9FF;
  height: 300px;
  width: 100%;
}
.main .bg .left .box2 .sub1 img {
  height: 100%;
  width: 100%;
}
.main .bg .left .box3 {
  background-color: #fff;
  color: #0D1322;
  padding: 2.5vmin;
  border-radius: 2.5vmin;
  margin-top: 4vmin;
}
.main .bg .left .box3 P {
  font-weight: 600;
}
.main .bg .left .box3 P:nth-child(2) {
  font-size: 2.5vmin;
  font-weight: 400;
}
.main .bg .left .box3 .tables table {
  font-size: 2vmin;
  font-weight: 500;
  color: #0D1322;
}
.main .bg .left .box3 .tables table th {
  color: #6B7280;
  padding: 2vmin;
  background-color: #F9FAFB;
  border: 1px solid #cfcfcf;
}
.main .bg .left .box3 .tables table td {
  padding: 2vmin;
  border: 1px solid #cfcfcf;
}
.main .bg .left .box4 {
  background-color: #fff;
  color: #0D1322;
  font-size: 2.5vmin;
  font-weight: 500;
  padding: 2.5vmin;
  border-radius: 2.5vmin;
  margin-top: 4vmin;
}
.main .bg .left .box4 P {
  font-weight: 600;
}
.main .bg .left .box4 P:nth-child(2) {
  font-size: 2.5vmin;
  font-weight: 400;
}
.main .bg .left .box4 .sub1 {
  background-color: #F6F9FF;
  height: 300px;
  width: 100%;
}
.main .bg .left .box4 .sub1 img {
  height: 100%;
  width: 100%;
}
.main .bg .left .box5 {
  background-color: #fff;
  color: #0D1322;
  font-size: 2.5vmin;
  font-weight: 500;
  padding: 2.5vmin;
  border-radius: 2.5vmin;
  margin-top: 4vmin;
}
.main .bg .left .box5 P {
  font-weight: 600;
}
.main .bg .left .box5 P img {
  float: right;
  width: 300px;
}
.main .bg .left .box5 P:nth-child(2) {
  font-size: 2.5vmin;
  font-weight: 400;
}
.main .bg .left .box6 {
  background-color: #fff;
  color: #0D1322;
  font-size: 2.5vmin;
  font-weight: 500;
  padding: 2.5vmin;
  border-radius: 2.5vmin;
  margin-top: 4vmin;
}
.main .bg .left .box6 P {
  font-weight: 600;
}
.main .bg .left .box6 P img {
  float: right;
  width: 300px;
}
.main .bg .left .box6 P:nth-child(2) {
  font-size: 2.5vmin;
  font-weight: 400;
}
.main .bg .left .box7 {
  background-color: #fff;
  color: #0D1322;
  font-size: 2.5vmin;
  font-weight: 500;
  padding: 2.5vmin;
  border-radius: 2.5vmin;
  margin-top: 4vmin;
}
.main .bg .left .box7 p {
  font-size: 3.5vmin;
  color: #6B7280;
  font-weight: 500;
}
.main .bg .left .box7 ol li {
  font-size: 2.5vmin;
  color: #0D1322;
  font-weight: 600;
  list-style: none;
}
.main .bg .left .box7 ol li span {
  float: right;
}
.main .bg .left .box7 ol li ol {
  list-style: none;
}
.main .bg .left .box7 ol li ol li {
  font-weight: 500;
}
.main .bg .left .box7 ol li ol li ol {
  list-style: none;
  margin: 2vmin 0;
}
.main .bg .left .box7 ol li ol li ol li {
  font-weight: 500;
  color: #6B7280;
  margin: 1vmin 0;
}
.main .bg .left .box7 ol .head p {
  font-size: 2.5vmin;
  color: #0D1322;
  font-weight: 600;
  border-bottom: 1px solid #cfcfcf;
  padding-bottom: 2vmin;
}
.main .bg .left .box8 {
  background-color: #fff;
  color: #0D1322;
  font-size: 2.5vmin;
  font-weight: 500;
  padding: 2.5vmin;
  border-radius: 2.5vmin;
  margin-top: 4vmin;
}
.main .bg .left .box8 P {
  font-weight: 600;
}
.main .bg .left .box8 P img {
  float: right;
  width: 300px;
  margin: 2vmin;
}
.main .bg .left .box8 P:nth-child(2) {
  font-size: 2.5vmin;
  font-weight: 400;
}
.main .bg .left .box8 P:nth-child(3) {
  font-size: 2.5vmin;
  font-weight: 400;
}
.main .bg .left .box9 {
  background-color: #fff;
  color: #0D1322;
  font-size: 2.5vmin;
  font-weight: 500;
  padding: 2.5vmin;
  border-radius: 2.5vmin;
  margin-top: 4vmin;
}
.main .bg .left .box9 P {
  font-weight: 600;
}
.main .bg .left .box9 P:nth-child(2) {
  font-size: 2.5vmin;
  font-weight: 400;
}
.main .bg .right {
  width: 25%;
  padding: 7vmin;
}
.main .bg .right .box1 {
  background-color: #fff;
  color: #0D1322;
  font-size: 2.5vmin;
  font-weight: 400;
  padding: 4vmin 2vmin;
  border-radius: 2.5vmin;
  margin-top: 4vmin;
}
.main .bg .right .box1 p {
  font-weight: 600;
  color: #6B7280;
}
.main .bg .right .box1 .radiobox {
  margin: 0vmin 0;
}
.main .bg .right .box1 .radiobox input {
  margin-right: 1vmin;
}
.main .bg .right .box1 .radiobox .text {
  font-size: 2vmin;
  font-weight: 500;
}
.main .bg .right .box1 .radiobox .text h4 {
  font-size: 2vmin;
  font-weight: 500;
  color: #0D1322;
  margin-top: 1.5vmin;
}
.main .bg .right .box1 .radiobox .text p {
  font-size: 1.7vmin;
  font-weight: 400;
  color: #6B7280;
  margin-top: -1.5vmin;
}
.main .bg .right .box1 b {
  font-size: 5vmin;
  font-weight: 700;
  color: #0D1322;
  margin-top: 1.5vmin;
}
.main .bg .right .box1 b del {
  font-size: 3vmin;
  font-weight: 400;
  color: #6B7280;
  margin-top: -3vmin;
}
.main .bg .right .box1 p.disc {
  font-size: 2vmin;
  font-weight: 900;
  margin: 1vmin;
  color: lime;
}
.main .bg .right .box1 p.det {
  color: #6B7280;
  font-size: 2vmin;
  font-weight: 500;
  margin-top: 0vmin;
}
.main .bg .right .box1 button.or {
  width: 100%;
  padding: 1.5vmin;
  background-color: #F2B244;
  color: #0D1322;
  border: none;
  outline: none;
  font-weight: 600;
}
.main .bg .right .box1 button.or i {
  margin-right: 1vmin;
}
.main .bg .right .box1 button.bl {
  width: 100%;
  padding: 1.5vmin;
  background-color: #fff;
  color: #004ab3;
  border: none;
  border: 1.5px solid #004ab3;
  outline: none;
  font-weight: 600;
  margin-top: 3vmin;
}
.main .bg .right .box2 {
  background-color: #fff;
  color: #0D1322;
  font-size: 2.5vmin;
  font-weight: 400;
  padding: 4vmin 2vmin;
  border-radius: 2.5vmin;
  margin-top: 4vmin;
}
.main .bg .right .box2 .sub {
  height: 300px;
  width: 90%;
  box-shadow: 0px 1px 9px 6px black;
  padding: 3vmin;
  position: relative;
}
.main .bg .right .box2 .sub b {
  color: #004ab3;
  font-size: 2.5vmin;
  font-weight: 700;
}
.main .bg .right .box2 .sub p {
  color: #6B7280;
  font-size: 4vmin;
  font-weight: 900;
  margin-top: 6vmin;
  opacity: 0.7;
}
.main .bg .right .box2 .sub span {
  position: absolute;
  bottom: 30px;
  right: 0;
  padding: 1vmin 2vmin;
  background-color: red;
  color: #fff;
  font-size: 2vmin;
  font-weight: 700;
}
.main .bg .right .box2 p {
  font-weight: 600;
  color: #6B7280;
  margin-top: 5vmin;
  font-size: 2vmin;
}
.main .bg .right .box2 button.bl {
  width: 100%;
  padding: 1.5vmin;
  background-color: #fff;
  color: #004ab3;
  border: none;
  border: 1.5px solid #004ab3;
  outline: none;
  font-weight: 600;
  margin-top: 3vmin;
}
.main .bg .right .box3 {
  background-color: #fff;
  color: #0D1322;
  font-size: 3.5vmin;
  font-weight: 600;
  padding: 4vmin 2vmin;
  border-radius: 2.5vmin;
  margin-top: 4vmin;
}
.main .bg .right .box4 {
  background-color: #fff;
  color: #0D1322;
  font-size: 2.5vmin;
  font-weight: 400;
  padding: 4vmin 2vmin;
  border-radius: 2.5vmin;
  margin-top: 4vmin;
}
.main .bg .right .box4 p {
  font-weight: 600;
  font-size: 3vmin;
}
.main .bg .right .box4 i {
  font-size: 2vmin;
  color: #6B7280;
  padding-bottom: 3vmin;
  border-bottom: 1px solid #cfcfcf;
}
.main .bg .right .box4 .profile img {
  height: 30px;
}
.main .bg .right .box4 .profile .text {
  margin-top: 3vmin;
  margin-left: 1vmin;
}
.main .bg .right .box4 .profile .text b {
  font-size: 2vmin;
  font-weight: 600;
}
.main .bg .right .box4 .profile .text p {
  font-size: 2vmin;
  font-weight: 400;
  color: #6B7280;
}
.main .bg .right .box5 {
  background-color: #fff;
  color: #0D1322;
  font-size: 3vmin;
  font-weight: 600;
  padding: 4vmin 2vmin;
  border-radius: 2.5vmin;
  margin-top: 4vmin;
}
.main .bg .right .box5 p {
  text-align: center;
}
.main .bg .right .box5 .sub {
  margin-top: 3vmin;
}
.main .bg .right .box5 .sub p {
  margin-top: 2vmin;
  font-size: 2.5vmin;
  font-weight: 500;
}
.main .bg .right .box5 b {
  font-size: 2.5vmin;
  font-weight: 600;
  margin-top: 3vmin;
  color: #004ab3;
  cursor: pointer;
}

@media (max-width: 720px) {
  .main .bg .left {
    width: 100%;
    padding: 5vmin;
  }
  .main .bg .right {
    width: 100%;
    padding: 5vmin;
  }
}
body {
  background-color: #ECF2FC;
}/*# sourceMappingURL=report.css.map */