$primary: #fff;
$surface: #0D1322;
$secondary: #1F7CFF;
$border-color: #D1D9E5;
$gradient-color: linear-gradient(0deg, #F6F9FF, #F6F9FF),
    linear-gradient(0deg, #D1D9E5, #D1D9E5);
$form-input-outline: #1f7cff;
$hover-color: linear-gradient(0deg, #116ACC, #116ACC),
  linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
$cancel-color: #5B5B5B;