@import "custom-variables";

.contact{
    .mainForm{
        padding: 0 10vmin;
            form {
                padding: 5vmin;
                    
                .mainField {
    
                    .inputField {
                        height: 7vmin;
                        width: 100%;
                        margin: 5vmin;
    
                        label {
                            font-size: 2vmin;
                            font-weight: 500;
                            margin-bottom: 1vmin;
                        }
    
                        input {
                            height: 100%;
                            width: 100%;
                            padding: 2vmin;
                            border: 1px solid $border-color;
                            outline: none;
                            background: $gradient-color;
                            font-size: 2vmin;
                            font-weight: 400;
                        }
                    }
                }
    
                .message-field {
                    margin: 5vmin;
    
                    label {
                        font-size: 2vmin;
                        margin-bottom: 1vmin;
                        font-weight: 500;
                    }
    
                    textarea {
                        padding: 2vmin;
                        border: 1px solid $border-color;
                        outline: none;
                        background: $gradient-color;
                        font-size: 2vmin;
                        font-weight: 400;
                        height: 20vmin;
                    }
                }
    
                .check-box-input {
                    margin: 5vmin;
                    input {
                        margin-right: 1vmin;
                        width: 2vmin;
                    }
    
                    span {
                        font-size: 2vmin;
                        font-weight: 400;
                        color: $surface;
                    }
    
                }
    
                .input-btn {
                    margin: 5vmin;
    
                    button {
    
                        font-size: 2.3vmin;
                        border: none;
                        color: $primary;
                        cursor: pointer;
                        border-radius: 5px;
                        padding: 2vmin 4vmin;
                    }
    
    
    
                    .submit {
                      &:hover{
                          background: $hover-color;
                      }
                        margin-right: 1rem;
                        background: $secondary;
                    }
    
                    .cancel {
                        background: $cancel-color;
                    }
                }

            }
        
    }
}
@media(max-width:720px){
    
    .contact{
        .mainForm{
            padding: 10vmin;
                form {
                    padding: 5vmin;
        
                    .message-field {
                        margin: 0vmin;
                    }
        
                    .check-box-input {
                        margin: 0vmin;
                    }
        
                    .input-btn {
                        margin: 0vmin;
                    }
    
                }
            
        }
    }
}
@media (min-width:721px) and (max-width:1000px) {
    
    .contact{
        .mainForm{
            padding: 0vmin;
            
        }
    }
}