@import "custom-variables";


.searchSec{
    gap: 2vmin;
    text-align: left;
    padding: 3vmin 10vmin;
    .top{
        color: #999;
        text-align: left;
        width: 100%;
        font-size: 2vmin;
    }
    .bottom{
        font-size: 2.5vmin;
        width: 100%;
        color: #121212a7;
        margin-top: 2vmin;
        .search{
            gap: 1vmin;
            background: #FFF;
            width: 50%;
            max-width: 50vw;
            padding: 1vmin;
            input{
                border: none;
                outline: none;
                background: transparent;
                font-size: 2vmin;
                width: 100%;
                color: #000;
                width: 100%;
                padding: 1vmin;
            }
            i{
                color: #000;
                font-size: 2vmin;
                background-color: #efefef;
                padding: 2vmin;
                border-radius: 50%;

            }
        }
    }
}
.searchResultSec{
    margin-top: 2vmin;
    padding: 2vmin;
    // gap: 2vmin;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    // grid: auto-flow / repeat(auto-fill, minmax(300px, 1fr));

    .searchResult{
        background: #fff;
        padding:2vmin 2vmin;
        gap: 2vmin;
        margin-top: 3vmin;
        border-radius: 16px;
        grid-template-areas: 'one one'
                            'two three';
        &:last-child{
            margin-bottom: 12vmin;
        }
        .sec-one{
            padding: 0 2vmin;
            padding-right: 10vmin;
            width: 60%;
            font-size: 1em;
            grid-area: one;
            h3{
                font-size: 1.1em;
                margin-bottom: 2vmin;
                font-weight: 600;
            }
            .covid-head{
                margin: 3vmin 0;
            }
            .covid-head span{
                font-size: .6em;
                font-weight: 600;
                background-color: #FFE6BA;
                color: #000;
                padding: 1vmin 1.5vmin;
                border-radius: 5vmin;
            }
            .list{
                background: $primary-background-lightblue;
                padding: 3vmin;
                font-size: 0.8em;
                // width: 70%;
                ul{
                    list-style: number;
                    li{
                        display: grid;
                        grid-template-columns: 1fr 1fr 3fr;
                        color: #121212a7;
                        font-size: 2vmin;
                        margin-top: 1vmin;
                        i{
                            font-size: 0.35em;
                            vertical-align:middle;
                            margin-right: 0.5vmin;
                            color: #121212a7;
                        }
                    }
                }
            }
            p{
                font-size: 0.8em;
                color: #000;
                font-style: italic;
                margin-top: 2vmin;

                span{
                    font-size: 1.2em;
                    font-weight: 600;
                }
                a{
                    color: #999;
                    font-weight: 600;
                }
            }

        }
        .sec-two{
            grid-area:two;
            width: 22%;
            border-right: 1px dotted black;
            padding-right: 5vmin;
            padding-top: 5vmin;
            h5{
                font-size: 2.5vmin;
                font-weight: 600;
                margin-bottom: 1vmin;  
                color: #8e8d8d;
            }
            p{
                font-size: 2.5vmin;
                color: black;
                font-weight: 500;
                margin-bottom: 3vmin;
            }
        }
        .sec-three{
            grid-area: three;
            width: 18%;
            padding-right: 2vmin;
            padding-top: 5vmin;
            padding-left: 2vmin;
            .price-card{
                h3{
                    font-size: 1.5em;
                    font-weight: 700;
                    &:first-child{
                        font-weight: 500;
                        font-size: 1.2em;
                    }
                    i{
                        font-size: 0.8em;
                    }
                    del{
                        font-size: 0.6em;
                        // color: #999;
                        font-weight: 500;
                    }
                }
                .special-discount{
                    a{
                        background: $special-tag-background-color;
                        padding: 1vmin 1.5vmin;
                        border-radius: 1vmin;
                        color: #000;
                        font-size: 0.6em;
                        font-weight: 700;
                        text-decoration: none;
                    }
                    p{
                        font-size: 0.7em;
                        font-weight: 400;
                        margin-top: 1vmin;
                    }
                }
                .price-btn{
                    margin-top: 7vmin;

                    display: flex;
                    flex-direction: column;
                    gap: 1vmin;
                    button{
                        padding: 1.5vmin 3vmin;
                        border-radius: 0.5vmin;
                        font-size: 0.7em;
                        font-weight: 600;
                        text-decoration: none;
                        border: none;
                        outline: none;
                        width: 100%;
                        background-color: transparent;

                    }
                    .white-btn{
                        background: $button-background-white-color;
                        border: 1.5px solid $button-background-blue-color;
                        button{
                            i{
                                margin-right: 2vmin;
                            }
                            color: $button-background-blue-color;
                        }
                    }
                    .blue-btn{
                        background: $button-background-blue-color;
                        button{
                            i{
                                margin-right: 2vmin;
                            }
                            color: #FFF;
                        }
                    }
                    .yellow-btn{
                        background: $darkorange-color;
                        button{
                            i{
                                margin-right: 2vmin;
                            }
                        }
                    }
                }
                
            }
        }
    }
}
@media (max-width: 720px) {
    .searchSec{
        padding: 5vmin;
        .top{
            font-size: 3vmin;
        }
        .bottom{
            background-color: red;
            font-size: 4vmin;
            width: 100%;
            .search{
                background-color: green;
            }
        }
    }
    
.searchResultSec{
    .searchResult{
        grid-template-areas: 'one one'
                            'three three'
                            'two two';
        .sec-one{
            padding-right: 0vmin;
            padding: 0 2vmin;
            width: 100%;
        }
        .sec-two{
            display: none;
            grid-area:two;
        }
        .sec-three{
            grid-area: three;
            width: 100%;
            .price-card{
                .price-btn{
                    button{
                        padding: 2vmin 3vmin;
                        font-size: 0.8em;
                    }
                    .blue-btn{
                        display: none;
                    }
                }
                
            }
        }
    }
}
}