@import "custom-variables";


.searchSec{
    margin-top: 2vmin;
    display: flex;
    align-items: flex-start;
    gap: 2vmin;
    text-align: left;
    padding-inline: 4vmin;
    .top{
        color: #999;
        text-align: left;
        width: 100%;
    }
    .bottom{
        font-size: 1.4em;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .search{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1vmin;
            background: #FFF;
            padding: 1vmin 2vmin;
            width: 50%;
            max-width: 50vw;
            input{
                border: none;
                outline: none;
                background: transparent;
                font-size: 1.5vmin;
                width: 100%;
                color: #000;
                width: 100%;
            }
            i{
                color: #000;
            }
        }
    }
}
.searchResultSec{
    margin-top: 2vmin;
    padding: 2vmin 2vmin;
    gap: 2vmin;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    // Wrap the grid items if the window is too narrow

    grid: auto-flow / repeat(auto-fill, minmax(300px, 1fr));

    .searchResult{
        background: #fff;
        padding: 2vmin 2vmin;
        gap: 2vmin;
        grid-template-areas: 'one one'
                            'two three';
        .sec-one{
            padding: 0 2vmin;
            font-size: 1em;
            grid-area: one;
            h3{
                font-size: 1.3em;
            }
            .covid-head span{
                font-size: .7em;
                font-weight: 600;
                background-color: #FFE6BA;
                color: #000;
                padding: 0.5vmin 1vmin;
                border-radius: 5vmin;
            }
            .list{
                background: $primary-background-lightblue;
                padding: 1vmin;
                font-size: 0.8em;
                ul{
                    list-style: number;
                    li{
                        display: grid;
                        grid-template-columns: 1fr 1fr 3fr;
                        i{
                            font-size: 0.5em;
                            vertical-align: sup;
                        }
                    }
                }
            }
            p{
                font-size: 0.8em;
                color: #000;

                span{
                    font-size: 1.2em;
                    font-weight: 600;
                }
                a{
                    color: #999;
                    font-weight: 600;
                }
            }

        }
        .sec-two{
            grid-area:two;
            border-right: 2px dotted black;
            padding-right: 2vmin;
        }
        .sec-three{
            grid-area: three;
            padding-left: 2vmin;
            .price-card{
                h3{
                    font-size: 1.5em;
                    font-weight: 600;
                    del{
                        font-size: 0.6em;
                        color: #999;
                    }
                }
                .special-discount{
                    a{
                        background: $special-tag-background-color;
                        padding: 0.5vmin 1vmin;
                        border-radius: 0.5vmin;
                        color: #000;
                        font-size: 0.8em;
                        font-weight: 600;
                        text-decoration: none;
                    }
                }
                .price-btn{
                    margin-top: 1vmin;

                    display: flex;
                    flex-direction: column;
                    gap: 1vmin;
                    button{
                        padding: 1.52vmin 3vmin;
                        border-radius: 0.5vmin;
                        font-size: 0.8em;
                        font-weight: 600;
                        text-decoration: none;
                        border: none;
                        outline: none;
                        width: 100%;
                        background-color: transparent;

                    }
                    .white-btn{
                        background: $button-background-white-color;
                        border: 1px solid #000;
                    }
                    .blue-btn{
                        background: $button-background-blue-color;
                        color: #FFF;
                    }
                    .yellow-btn{
                        background: $button-background-yellow-color;
                    }
                }
                
            }
        }
    }
}