$primary: #fff;
$surface: #0D1322;
$secondary: #004ab3;
// 

// index- banner;
$darkorange-color: #E6993F;
$special-tag-background-color: #69FF44;
$button-background-white-color: #ffffff;
$button-background-blue-color: #1f7cff;
$button-background-yellow-color: #FFD600;
$primary-background-lightblue: #EDF6FF;
