
@import "custom-variables";
.sponsors {
    padding: 5vmin;
    position: relative;

    .box {
        position: absolute;
        top: 0;
        left: 50%;
        background-color: $primary;
        transform: translate(-50%, -50%);
        padding: 1.5vmin;
        width: 20vmin;
        border-radius: 25px;
        text-align: center;
        font-size: 2vmin;
        font-weight: 500;
    }

    .imgBox {
        height: 100%;
        width: 100%;

        .swiperr {
            height: 20vmin;
            width: 100%;
            overflow-x: scroll;
            //scrollbar customize
            scrollbar-width: thin;
            scrollbar-color: $primary $primary;
            &::-webkit-scrollbar {
                width: 0.5vmin;
            }
            &::-webkit-scrollbar-track {
                background: $primary;
            }
    
            .swiper-slide {
                text-align: center;
                overflow-y: visible;
                width: 150px;
                display: grid;
                place-items: center;
                position: relative;
                img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

    }
}

@media screen and (max-width: 920px) {
    
    .sponsors {

        .box {
            width: 30vmin;
            font-size: 4vmin;
        }

        .imgBox {
            img {
                transform: scale(0.8);
            }
        }
    }
}